In [1]:
import pandas as pd

In [3]:
rip= pd.read_csv('RiparianFlag.csv')

In [32]:
pts = pd.read_csv('PointsMerged.csv')

In [37]:
cpad = pd.read_csv('CPADFlag.csv')

In [33]:
pts['rip_flag'] = 0

In [ ]:
pts['cpad_flag'] = 0

In [41]:
pts['policy_knockout'] = 0

In [34]:
pts.loc[pts['pointid'].isin (rip['pointid']), 'rip_flag'] = 1

In [39]:
pts.loc[pts['pointid'].isin (cpad['pointid']), 'cpad_flag'] = 1

In [42]:
pts.head()

   pointid  grid_code  grid_code_1  rip_flag  cpad_flag  policy_knockout
0        1         91          104         0          0                0
1        2         92          105         0          0                0
2        3          2            2         0          0                0
3        4          2            2         0          0                0
4        5         91          104         0          0                0

In [45]:
pts.loc[(pts['rip_flag'] == 1) | (pts['cpad_flag'] == 1), 'policy_knockout'] =1

In [49]:
pts[pts['policy_knockout'] == 1]

         pointid  grid_code  grid_code_1  rip_flag  cpad_flag  policy_knockout
151306    151307        249         1206         1          0                1
151434    151435        249         1206         1          0                1
167544    167545        889         1253         1          0                1
167545    167546        889         1253         1          0                1
167546    167547        136          202         1          0                1
167547    167548        890         1254         1          0                1
167553    167554          8            6         1          0                1
167554    167555          8            6         1          0                1
167555    167556          2            2         1          0                1
167556    167557        132          198         1          0                1
167563    167564        249          344         1          0                1
167564    167565         85          193         1          0                1
167565    167566        451          638         1          0                1
167566    167567        862         1241         1          0                1
167567    167568        862         1241         1          0                1
167568    167569        887         1187         1          0                1
167672    167673        512         1260         1          0                1
167673    167674        136          202         1          0                1
167674    167675        132          198         1          0                1
167675    167676        136          202         1          0                1
167676    167677        877         1261         1          0                1
167677    167678        884         1251         1          0                1
167678    167679          1            1         1          0                1
167679    167680          3            3         1          0                1
167680    167681        136          202         1          0                1
167681    167682        136          202         1          0                1
167682    167683        132          198         1          0                1
167683    167684        136          202         1          0                1
167684    167685        132          198         1          0                1
167685    167686        167          254         1          0                1
...          ...        ...          ...       ...        ...              ...
4042247  4042248        500          567         0          1                1
4042248  4042249        500          567         0          1                1
4042249  4042250        500          567         0          1                1
4042250  4042251        500          567         0          1                1
4042251  4042252        500          567         0          1                1
4042252  4042253        500          567         0          1                1
4042253  4042254        500          567         0          1                1
4042254  4042255        500          567         0          1                1
4042255  4042256        500          567         0          1                1
4042256  4042257        500          567         0          1                1
4042257  4042258        500          567         0          1                1
4042258  4042259        500          567         0          1                1
4042259  4042260        500          567         0          1                1
4042260  4042261        500          567         0          1                1
4042261  4042262        500          567         0          1                1
4042262  4042263        500          567         0          1                1
4042263  4042264        500          567         0          1                1
4042264  4042265        500          567         0          1                1
4042265  4042266        500          567         0          1                1
4042266  4042267        500          567         0          1                1
4042267  4042268        500          567         0          1                1
4042268  4042269        500          567         0          1                1
4042269  4042270        500          567         0          1                1
4042270  4042271        500          567         0          1                1
4042271  4042272        500          567         0          1                1
4042272  4042273        500          567         0          1                1
4042273  4042274        500          567         0          1                1
4042274  4042275        500          567         0          1                1
4042275  4042276        500          567         0          1                1
4042276  4042277        500          567         0          1                1

[1200443 rows x 6 columns]